body {
	background: url(../img/logo_clouds_01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div {
    display: block;

}

.social {
	margin-left: 580px!important;
	margin-top: 110px!important;
}

.social ul {
    list-style-type: none;
    
    padding: 0;
}

.social li {
    float: left;
    margin: 0 15px;
}

.social a, .social a:before, figure {
    border-radius: 100%;
}

.social a {
    border: 2px solid transparent;
    color: white;
    height: 39px;
    outline: 0;
    position: relative;
    text-decoration: none;
    width: 39px;
    font-size: 40px;
}

.statcounter {
	bottom: 0;
	position: fixed;
	right: 0;
}