body {
	background: url(../img/logo_white_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 481px){

	body {
		background: url(../img/logo_white_01.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.header {
		margin: auto;
		color: white;
		width: 300px;
	}

	.social {
		margin: auto;
		width: 400px;
	}


}

.header {
	margin: auto;
	color: white;
	width: 450px;
}

.social {
	margin: auto;
	width: 600px;
}

.social ul {
    list-style-type: none;
    /*padding: 0;*/
}

.social li {
    float: left;
    margin: 0 15px;
}

.social a, .social a:before, figure {
    border-radius: 100%;
}

.social a {
    border: 2px solid transparent;
    color: white;
    height: 39px;
    outline: 0;
    position: relative;
    text-decoration: none;
    width: 39px;
    font-size: 40px;
}

.statcounter {
	bottom: 0;
	position: fixed;
	right: 0;
}
