@media screen and (max-width: 481px){

	body {
		background: url(../img/blur_black_logo.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.masthead .companylogo a {
		color: white;
		float: left;
		margin: 2px 0px 0px -15px;
		font-weight: bold;
		font-size: 20px !important;
		text-decoration: none;
	}

	.masthead .navlinks a {
		color: white;
		float: right;
		margin: 0px -5px 0px 0px;
		font-weight: bold;
		font-size: 20px !important;
		text-decoration: none;
	}

	body .header {
		margin: auto;
		color: white;
		width: 60%;
		font-size: 15px;
		padding-left: 10px;
	}

	body .social {
		margin: auto;
		width: 100%;
	}

	.social ul {
	    list-style-type: none;
	    padding-left: 30px;
	}

	.social ul li {
	    float: left;
	    margin-left: 0;
	}

	.social ul li a {
	    border: 0px solid transparent;
	    color: white;
	    outline: 0;
	    position: relative;
	    text-decoration: none;
	    font-size: 25px;
	}

	body .hp {
		margin: auto;
		margin-top: -100px;
		width: 100%;
		padding-left: 30px;
	}

	.hp p {
		font-family: Algerian;
		font-size: 200px !important;
		color: white;
	}

}

body {
	background: url(../img/blur_black_logo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead {
    background-color: black;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
		height: 70px;
    z-index: 10000;
		margin-left: 0px;
}

.masthead .companylogo a {
	color: white;
	float: left;
	padding: 20px 0px 0px 20px;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}

.masthead .navlinks a {
	color: white;
	float: right;
	padding: 22px 30px 20px 20px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

.masthead a:hover {
	color: #5E79FF;
}

.header {
	padding-top: 50px;
	margin: auto;
	color: white;
	width: 20%;
	font-size: 22px;
	padding-left: 30px;
}

.social {
	margin: auto;
	width: 600px;
}

.social ul {
    list-style-type: none;
    /*padding: 0;*/
}

.social li {
    float: left;
    margin: 0 15px;
}

.social a, .social a:before, figure {
    border-radius: 100%;
}

.social a {
    border: 2px solid transparent;
    color: white;
    height: 39px;
    outline: 0;
    position: relative;
    text-decoration: none;
    width: 39px;
    font-size: 40px;
}

.hp {
	margin: auto;
	margin-top: -700px;
	width: 30%;
}

.hp p {
	font-family: Algerian;
	font-size: 350px;
	color: white;
}

.statcounter {
	bottom: 0;
	position: fixed;
	right: 0;
}
